{% extends "layout.html" %}

{% block content %}
<div class="home-container">
    <div class="hero-text">
      <h2>WELCOME TO</h2>
      <h1><i class="fas fa-martini-glass"></i> The Martini <strong>Mentor</strong></h1>
      <p>
        Your go-to for learning how to confidently <strong>order</strong> and <strong>craft</strong> a variety of martinis.
        Perfect for beginners looking to boost their <strong>bartending skills</strong> and <strong>impress at the bar!</strong>
      </p>
    </div>
  
    <div class="button-group">
      <a href="/learn/1" class="btn big-btn">START THE LESSON</a>
      <a href="/quiz/1" class="btn big-btn">TAKE THE QUIZ</a>
    </div>
  </div>
{% endblock %}