<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
  {% block head %}{% endblock %}
</head>
<body>

<div class="layout-container">
    <div class="sidebar" id="sidebar">
         <div class="logo-container d-flex align-items-center justify-content-between p-4">
            <!--<img src="logo.png" alt="Logo" class="logo" style="height: 40px;"> -->
            <div class="collapse-btn" id="toggle-sidebar">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="menu">
            <div class="menu-item">
                <i class="fas fa-home"></i>
                <span class="label">Home</span>
            </div>
            <div class="label-item">
                <span class="label">Lesson</span>
                <div class="bar"></div>
            </div>
            <div class="menu-item">
                <i class="fas fa-book"></i>
                <span class="label">Ingredients</span>
            </div>
            <div class="menu-item">
                <i class="fas fa-shopping-cart"></i>
                <span class="label">Ordering</span>
            </div>
            <div class="menu-item">
                <i class="fas fa-martini-glass-citrus"></i>
                <span class="label">Mixing</span>
            </div>
            <div class="label-item">
                <span class="label">Test</span>
                <div class="bar"></div>
            </div>
            <a href="/quiz/1" class="menu-item">
                <i class="fas fa-question-circle"></i>
                <span class="label">Take the Quiz</span>
            </a>
        </div>
    </div>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>
