{% extends "layout.html" %}

{% block content %}
  <div id="dialogue">
    <p>{{ question.instruction or question.question }}</p>
  </div>

  <div id="question-container">
    <form method="POST">
      {% for option in question.options %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="answer" value="{{ option }}" id="opt{{ loop.index }}">
          <label class="form-check-label" for="opt{{ loop.index }}">
            {{ option }}
          </label>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
{% endblock %}
