{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
{% endblock %}

{% block content %}
<div class="home-container">
  <div class="hero-text">
    <h2>READY TO TEST YOURSELF?</h2>
    <h1><i class="fas fa-martini-glass"></i> The Martini <strong>Mentor</strong> Quiz</h1>
  </div>

  <div class="button-group">
    <a href="{{ url_for('quiz_continue') }}" class="btn big-btn">RESUME</a>
    <a href="{{ url_for('quiz_start_over') }}" class="btn big-btn">START NEW QUIZ</a>
  </div>

  <div class="quiz-instruc">
    <h2>📋 Quiz Tips:</h2>
    <ul class="quiz-tips">
      <li>{{ "Pay attention to the DIALOGUE!" | highlight_text(["DIALOGUE"]) }}</li>
      <li>{{ "You may REVIEW the lessons without losing your progress." | highlight_text(["REVIEW"]) }}</li>
    </ul>
  </div>
</div>
{% endblock %}
